<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Portal</h1>
    <form action="/admin/game_start" method="post">
        <input type="text" name="game_id" placeholder="Enter Game ID"/>
        <button type="submit">Start Game</button>
    </form>
    <form action="/clear_session" method="post">
        <button type="submit">Clear Session</button>
    </form>
</body>
</html>