<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Game Id : {{game_id}} <br/> 
    Round Num : {{round_num}} <br/><br/>
    
    <form action="/user/game_play" method="POST">
        <input type="number" name="number_chosen" placeholder="Choose a number">
        <button type="submit">Submit</button>
    </form>
</body>
</html>