<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    Thank you for playing the round! <br/>
    Game Id : {{game_id}} <br/> 
    Round Num : {{round_num}} <br/>

    <form action='/user/round_end' method="POST">
        <button type="submit">
            {% if is_last_round == true %}
                End Game
            {% else %}
                Continue to Next Round
            {% endif %}
        </button>
    </form>

</body>
</html>